<a href="https://colab.research.google.com/github/Ravneet-kaur1102/ML-Live-Session/blob/main/02_ExploratoryDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


[Data Set](https://archive.ics.uci.edu/ml/machine-learning-databases/00320/)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
cd '/content/drive/MyDrive/AI Live Session'

/content/drive/MyDrive/AI Live Session

In [9]:
ls

02_ExploratoryDataAnalysis.ipynb  Files/  Perceptrons_01.ipynb

In [10]:
cd Files

/content/drive/My Drive/AI Live Session/Files

In [11]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [13]:
import pandas as pd
pd.read_csv('student-mat.csv')

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[395 rows x 1 columns]

In [14]:
pd.read_csv('student-mat.csv',sep=';')

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]