<a href="https://colab.research.google.com/github/Ravneet-kaur1102/ML-Live-Session/blob/main/02_ExploratoryDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Ravneet Kaur

Date: June 4, 2021

Reach me at: [LinkedIn](https://www.linkedin.com/in/ravneet-kaur-4b018b45/)

For DataSet: [Data Set](https://archive.ics.uci.edu/ml/machine-learning-databases/00320/)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
cd '/content/drive/MyDrive/AI Live Session'

/content/drive/MyDrive/AI Live Session

In [9]:
ls

02_ExploratoryDataAnalysis.ipynb  Files/  Perceptrons_01.ipynb

In [10]:
cd Files

/content/drive/My Drive/AI Live Session/Files

In [11]:
ls

student-mat.csv  student-merge.R  student-por.csv  student.txt

In [13]:
import pandas as pd
pd.read_csv('student-mat.csv')

    school;sex;age;address;famsize;Pstatus;Medu;Fedu;Mjob;Fjob;reason;guardian;traveltime;studytime;failures;schoolsup;famsup;paid;activities;nursery;higher;internet;romantic;famrel;freetime;goout;Dalc;Walc;health;absences;G1;G2;G3
0    GP;"F";18;"U";"GT3";"A";4;4;"at_home";"teacher...
1    GP;"F";17;"U";"GT3";"T";1;1;"at_home";"other";...
2    GP;"F";15;"U";"LE3";"T";1;1;"at_home";"other";...
3    GP;"F";15;"U";"GT3";"T";4;2;"health";"services...
4    GP;"F";16;"U";"GT3";"T";3;3;"other";"other";"h...
..                                                 ...
390  MS;"M";20;"U";"LE3";"A";2;2;"services";"servic...
391  MS;"M";17;"U";"LE3";"T";3;1;"services";"servic...
392  MS;"M";21;"R";"GT3";"T";1;1;"other";"other";"c...
393  MS;"M";18;"R";"LE3";"T";3;2;"services";"other"...
394  MS;"M";19;"U";"LE3";"T";1;1;"other";"at_home";...

[395 rows x 1 columns]

In [14]:
pd.read_csv('student-mat.csv',sep=';')

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [15]:
import pandas as pd #working with csv or excel
import numpy as np  #working with numbers/arrays/tensors
import tensorflow as tf #its a framework
from tensorflow import keras #API/library
import os #using os command between python language

In [16]:
mathData = pd.read_csv('student-mat.csv', sep=';') #loading the file in mathData to perform other operations

In [17]:
mathData

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0       GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1       GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2       GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3       GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4       GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
..     ...  ..  ...     ...     ...     ...  ...   ...     ...      ...  ..  ..  ..
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[395 rows x 33 columns]

In [18]:
mathData.head(10) #prints the first 10 rows of the dataframe

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10
5     GP   M   16       U     LE3       T  ...     2       5       10  15  15  15
6     GP   M   16       U     LE3       T  ...     1       3        0  12  12  11
7     GP   F   17       U     GT3       A  ...     1       1        6   6   5   6
8     GP   M   15       U     LE3       A  ...     1       1        0  16  18  19
9     GP   M   15       U     GT3       T  ...     1       5        0  14  15  15

[10 rows x 33 columns]

In [19]:
mathData.tail()

    school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
390     MS   M   20       U     LE3       A  ...     5       4       11   9   9   9
391     MS   M   17       U     LE3       T  ...     4       2        3  14  16  16
392     MS   M   21       R     GT3       T  ...     3       3        3  10   8   7
393     MS   M   18       R     LE3       T  ...     4       5        0  11  12  10
394     MS   M   19       U     LE3       T  ...     3       5        5   8   9   9

[5 rows x 33 columns]

In [22]:
mathData.dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

In [23]:
mathData.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')